.filter {
    @include flexed($ai:none);

    gap: 8px;

    &--indent {
        margin-bottom: 50px;
    }
}

.filter__btn {
    color: $title-text-color;
    background-repeat: $primary-button-bgr-color;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    border-radius: 4px;
    border-color: transparent;
    padding: 6px 22px;

    transition: color $animation, background-color $animation, box-shadow $animation;

    &--modif {
        padding: 6px 25px;
    }

    &:hover,
    &:focus {
    color: $primary-bgr-color;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}