.link-contact {
    display: none;

    @media screen and (min-width:$tablet) {
        display: flex;
        flex-direction: column;
    }

    @media screen and (min-width:$desktop) {
        flex-direction: row;
    }

    &--append {
        @media screen and (min-width:$tablet) {
            margin-left: auto;
        }
}
}

.link-contact__item {

    @media screen and (min-width:$tablet) and (max-width:1199px) {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
       
    }
    
    @media screen and (min-width:$desktop) {
            &+& {
            margin-left: 30px;
        }
    }
}

.link-contact__link {
    @include flexed($jc: none);
    
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;

    color: $primary-text-color;
    
    transition: color $animation;

    @media screen and (min-width:$desktop) {
        font-size: 14px;
        line-height: 1.14;
    }

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.link-contact__icon {
    fill: currentColor;
    display: inline-block;

    &:hover {
        fill: $accent-color;
    }
}

.link-contact__icon--preppend {
    margin-right: 10px;
}

.link-contact__icon--envel {
    @media screen and (min-width:$desktop) {
        width: 16px;
        height: 12px;
    }
}

.link-contact__icon--phn {
    @media screen and (min-width:$desktop) {
        height: 16px;
    }
}