.nav {
    @include flexed($jc:space-between);


    @media screen and (max-width:767px) {
        @include flexed($jc:space-between);
        width: 480px;

        &--indent {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}