.nav {
    &--indent {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    @media screen and (max-width:479px) {
        @include flexed($jc:space-between);
        width: 100%;
        
    }

    @media screen and (min-width:$mobile) and (max-width:767px){
        @include flexed($jc: space-between);
    }

    @media screen and (min-width:$tablet) {
        @include flexed($jc: none);
        padding-top: 0;
        padding-bottom: 0;
    }
}