.user-data {
    padding: 40px;
}

.user-data__desc {

    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.03em;
    line-height: 1.5;

    color: $title-text-color;

    @media screen and (min-width:$desktop) {
        line-height: 1.15;
    }

    &--indent {
        margin-bottom: 12px;
    }
}