// Змінні кольору тексту:

$primary-text-color: #757575;
$title-text-color: #212121;
$secondary-text-color: #ffffff;
$accent-color: #2196f3;
$placeholder-text-color: rgba(117, 117, 117, 0.5);

// Змінні кольору фону:

$primary-bgr-color: #ffffff;
$primary-button-bgr-color: #f5f4fa;
$secondary-bgcl-section: #f5f4fa;
$link-color: #afb1b8;
$logo__header: #000000;
$hover-bnt-color: #188ce8;

// Змінна анімації:

$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
